<nav>
    <a href="/">Главная</a> | 
    <a href="/login">Авторизация</a> | 
    <a href="/register">Регистрация</a> |
    <a href="/notes">Мои заметки</a> |
    <a href="/addnotes">Добавить заметку</a> |
    <a href="/login/out">Выход</a> |
</nav>
{{!-- <nav>
    <a href="/">Главная</a> | 
    {{#if isAuthenticated}}
        <a href="/notes">Мои заметки</a> |
        <a href="/addnotes">Добавить заметку</a> |
        <a href="/login/out">Выход</a> |
      {{else}}
        <a href="/login">Авторизация</a> | 
        <a href="/register">Регистрация</a>
      {{/if}}    
</nav> --}}