 {{> head}}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12"> {{> menu}}   </div>
            <div class="col-md-12">
                   <h2 class="text-center">Загрузка аватара</h2>
                    <form action="/user/avatar" enctype="multipart/form-data" method="post"> 
                        <input type="file" name="avatar"> 
                         <input type="submit" value="Загрузить"> 
                    </form> 
                 
            </div>
        </div>
            
    </div>
   
 {{> footer}}