 {{> head}}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{> menu}}  
                <h2>Регистрация прошла успешно</h2>                
            </div>
        </div>
            
    </div>
 {{> footer}}