 {{> head}}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{> menu}}                  
            </div>
            <div class="col-md-12">
               <h2>Главная страница</h2>              
            </div>
        </div>
            
    </div>
 {{> footer}}