 {{> head}}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{> menugood}}                  
            </div>
            <div class="col-md-12">
                   <h2 class="text-center">Заметка удалена</h2>
                   
                    
            </div>
        </div>
            
    </div>
 {{> footer}}