{{> head}}
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{> menu}}  
                <h2>Ваша учетная запись неактивна</h2>  
                <p>Проверьте почту для активации учетной записи</p>              
            </div>
        </div>
            
    </div>
 {{> footer}}